@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --app-bg: #fff;
    --sidebar: #f3f6fd;
    --sidebar-main-color: #1f1c2e;
    --table-border: #1a2131;
    --table-header: #1a2131;
    --app-content-main-color: #1f1c2e;
    --sidebar-link: #1f1c2e;
    --sidebar-active-link: rgba(195, 207, 244, 1);
    --sidebar-hover-link: rgba(195, 207, 244, 0.5);
    --action-color: #2869ff;
    --action-color-hover: #6291fd;
    --app-content-secondary-color: #f3f6fd;
    --filter-reset: #2c394f;
    --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.app-content h3 {
    font-weight: bold !important;
    font-size: 23px !important;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    background-color: var(--app-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* a,
a:visited {
  text-decoration: none;
  color: #fff;
} */

.app-container {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 1280px;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 2000px;
    margin: 0 auto;
}

.sidebar {
    flex-basis: 250px;
    max-width: 250px;
    flex-shrink: 0;
    background-color: var(--sidebar);
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
    transition: all 0.3s;
}

.sidebar-list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    color: var(--sidebar-link);
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}

.sidebar-list-item svg {
    margin-right: 8px;
}

.sidebar-list-item:hover {
    background-color: var(--sidebar-hover-link);
}

.sidebar-list-item.active {
    background-color: var(--sidebar-active-link);
}

.sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--action-color);
    height: 100%;
    width: 4px;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}

.account-login {
    text-align: center;
    margin-top: auto;
}

.account-login-button {
    display: block;
    position: relative;
    float: left;
    width: 200px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.3s;
}

.btnLightBlue {
    background: #5d6ecdd2;
}

.btnFade.btnLightBlue:hover {
    background: #5d6ecd;
}

.account-info {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: auto;
}

.account-info-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.account-info-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.account-info-name {
    font-size: 15px;
    color: var(--sidebar-main-color);
    margin: 0 8px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.account-info-more {
    width: 35px;
    height: 35px;
    color: var(--sidebar-main-color);
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.account-info-more:hover {
    background-color: lightgray;
}

.app-icon {
    color: var(--sidebar-main-color);
}

.app-icon h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    vertical-align: bottom;
}

.app-icon img {
    width: 55px !important;
    height: 55px !important;
}

.app-content {
    padding: 16px;
    background-color: var(--app-bg);
    height: 100%;
    flex: 1;
    max-height: 100%;
    display: none;
    flex-direction: column;
    animation: fade-in 0.5s;
    animation-fill-mode: forwards;
}

.find.active {
    display: grid;
    grid-template-rows: 50px 60px 1fr;
}

.mypage.active {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.profile.active {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.wish.active {
    display: grid;
    grid-template-rows: 50px 40px 1fr;
}

.app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 28px;
    line-height: 32px;
    margin: 0;
}

.app-content-headerButton {
    background-color: var(--action-color);
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    padding: 0 16px;
    transition: 0.2s;
    cursor: pointer;
}

.app-content-headerButton:hover {
    background-color: var(--action-color-hover);
}

.app-content-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 4px;
}

.app-content-actions-wrapper {
    display: flex;
    align-items: center;
    /* margin-left: auto; */
}

@media screen and (max-width: 520px) {
    .app-content-actions {
        flex-direction: column;
    }

    .app-content-actions .search-bar {
        max-width: 100%;
        order: 2;
    }

    .app-content-actions .app-content-actions-wrapper {
        padding-bottom: 16px;
        order: 1;
    }
}

.search-bar {
    background-color: var(--app-content-secondary-color);
    border: 1px solid var(--app-content-secondary-color);
    color: var(--app-content-main-color);
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0px 10px 0px 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    width: 100%;
    max-width: 320px;
    transition: 0.2s;
}

.light .search-bar {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%231f1c2e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}

.search-bar:placeholder {
    color: var(--app-content-main-color);
}

.search-bar:hover {
    border-color: var(--action-color-hover);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236291fd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}

.search-bar:focus {
    outline: none;
    border-color: var(--action-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}

.action-button {
    border-radius: 4px;
    height: 32px;
    background-color: var(--app-content-secondary-color);
    border: 1px solid var(--app-content-secondary-color);
    display: flex;
    align-items: center;
    color: var(--app-content-main-color);
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}

.action-button span {
    margin-right: 4px;
}

.action-button:hover {
    border-color: var(--action-color-hover);
}

.action-button:focus, .action-button.active {
    outline: none;
    color: var(--action-color);
    border-color: var(--action-color);
}

.filter-button-wrapper {
    position: relative;
}

.filter-menu {
    background-color: var(--app-content-secondary-color);
    position: absolute;
    top: calc(100% + 16px);
    right: 0px;
    border-radius: 4px;
    padding: 8px;
    width: 220px;
    z-index: 2;
    box-shadow: var(--filter-shadow);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.filter-menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--app-content-secondary-color);
    bottom: 100%;
    left: 50%;
    transform: translatex(-50%);
}

.filter-menu.active {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 8px);
}

.filter-menu label {
    display: block;
    font-size: 14px;
    color: var(--app-content-main-color);
    margin-bottom: 8px;
}

.filter-menu select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding: 8px 24px 8px 8px;
    background-position: right 4px center;
    border: 1px solid var(--app-content-main-color);
    border-radius: 4px;
    color: var(--app-content-main-color);
    font-size: 12px;
    background-color: transparent;
    margin-bottom: 16px;
    width: 100%;
}

.filter-menu select option {
    font-size: 14px;
}

.light .filter-menu select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%231f1c2e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
}

.filter-menu select:hover {
    border-color: var(--action-color-hover);
}

.filter-menu select:focus, .filter-menu select.active {
    outline: none;
    color: var(--action-color);
    border-color: var(--action-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
}

.filter-menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-button {
    border-radius: 2px;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    color: #fff;
}

.filter-button.apply {
    background-color: var(--action-color);
}

.filter-button.reset {
    background-color: var(--filter-reset);
}

.app-content-body {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 4px;
}

.app-content-section {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 4px;
    overflow-y: scroll;
}

.status {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 12px;
}

.status:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 4px;
}

.status.active {
    color: #2ba972;
    background-color: rgba(43, 169, 114, 0.253);
}

.status.active:before {
    background-color: #2ba972;
}

.status.disabled {
    color: #59719d;
    background-color: rgba(89, 113, 157, 0.2);
}

.status.disabled:before {
    background-color: #59719d;
}

.gridView {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    align-items: flex-start;
}

@media screen and (max-width: 520px) {
    .gridView {
        margin: 0;
    }
}

.gridView .products-row {
    margin: 8px;
    width: calc(25% - 16px);
    /* height: 100%; */
    overflow: hidden;
    height: auto;

    background-color: var(--app-content-secondary-color);
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
}

.gridView .products-row:hover {
    transform: scale(1.01);
    box-shadow: var(--filter-shadow);
}

.gridView .products-row:hover .cell-more-button {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .gridView .products-row {
        width: calc(33.3% - 16px);
    }
}

@media screen and (max-width: 820px) {
    .gridView .products-row {
        width: calc(50% - 16px);
    }
}

@media screen and (max-width: 520px) {
    .gridView .products-row {
        width: 100%;
        margin: 8px 0;
    }

    .gridView .products-row:hover {
        transform: none;
    }
}

.gridView .products-row .cell-more-button {
    border: none;
    padding: 0;
    border-radius: 4px;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: rgba(16, 24, 39, 0.7);
    color: #fff;
    cursor: pointer;
    display: none;
}

.gridView .product-cell {
    color: var(--app-content-main-color);
    font-size: 14px;
    margin-bottom: 8px;
}

.gridView .product-cell:not(.image) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gridView .product-cell.image span,
.gridView .product-cell.image div {
    font-size: 18px;
    line-height: 24px;
}

.gridView .product-cell img {
    width: 100%;
    height: 140px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 16px;
}

.gridView .cell-label {
    opacity: 0.6;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;

    }
    to {
        opacity: 0;
    }
}

.modal-body img {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 20px;
}

.moimDetailModalBody {
    text-align: center;
}

.moimDetailModal_reviews {
    margin: 20px 0;
}

.moimDetailModal_review {
    margin: 10px 0;
}

.fixed_headers {
    min-height: 100px;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: #f5f5f5;
}

.list-head {
    background-color: #eee;
    padding: 5px 0;
}
.list-head,
.list-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.list-wrap {
    display: flex;
    flex-direction: column;
}

.list-title {
    flex-basis: 70%;
}
.list-name {
    flex-basis: 15%;
}
.list-button {
    flex-basis: 25%;
}

/* th, td {
    padding: 5px;
    text-align: left;
}

td:nth-child(1), th:nth-child(1) {
    min-width: 200px;
}

td:nth-child(2), th:nth-child(2) {
    min-width: 200px;
}

td:nth-child(3), th:nth-child(3) {
    width: 70px;
}

td:nth-child(4), th:nth-child(3) {
    width: 70px;
}

thead {
    background-color: #333;
    color: #FDFDFD;
}

tr {
    display: block;
    position: relative;
}

tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
}

tr:nth-child(even) {
    background-color: #DDD;
}

.old_ie_wrapper {
    height: 300px;
    width: 750px;
    overflow-x: hidden;
    overflow-y: auto;
}

tbody {
    height: auto;
} */

.button_hide {
    display: none;
}

ol, ul {
    list-style: outside none none;
}

.tags {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: table;
    padding: 0.5em;
    width: 100%;
}

.tags li.tagAdd, .tags li.addedTag {
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.tags li.addedTag {
    background: none repeat scroll 0 0 #019f86;
    border-radius: 2px;
    color: #fff;
    padding: 0.25em;
}

.tags input, li.addedTag {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 0.5em;
}

.tags input:hover {
    border: 1px solid #000;
}

span.tagRemove {
    cursor: pointer;
    display: inline-block;
    padding-left: 0.5em;
}

span.tagRemove:hover {
    color: #222222;
}

P, H1 {
    text-align: center;
}

p {
    color: #9c9c9c;
}

.mypageTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mypageTable hr {
    margin: 2px;
}
.table_left {
    flex-basis: 50%;
}
.table_right {
    flex-basis: 50%;
}

.modal__tag__title,
.modal__introduce__title {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.modal__tag__tags {
    color: black;
}

.moimDetailModal_introduce {
    color: black;
    font-size: 1.1rem;
}

.form-control-myprofile {
    width: 50%;
}

.edit_profile {
    width: 50%;
}

.edit_profile.hideEdit {
    display: none;
}

.content_title.hideEdit {
    display: none;
}

.closed {
    filter: brightness(85%);
}

.closed_moimDetail {
    filter: brightness(70%);
}

.btn-find-moim {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #f0f0f0;
    transition: 0.3s;
}
.btn-find-moim:hover {
    background-color: #dddddd;
}
.moim_detail_buttons button {
    width: 120px;
}
.moim_closed_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 500px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 7px;
    z-index: 3;
}
.moim_closed_overlay.hide_overlay {
    display: none;
}