<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/13a08ca775.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=06b0d21be95f7359297cfcaa65fc12bf&libraries=services"></script>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/main/main.css">

</head>

<body>

<!-- moimDetailModal -->
<div class="modal fade" id="moimDetailModal" tabindex="-1" aria-labelledby="moimDetail_Title" aria-hidden="true">
    <input type="hidden" id="moimDetailId" value="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="moimDetail_Title">모임 제목이 여기에 들어갑니다</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body moimDetailModalBody">
                <img id="moimDetail_Image" src="../static/images/main-running.jpg" alt="">
                <div>
                    <p class="modal__tag__title">모임 태그</p>
                    <p id="moimTag" class="modal__tag_tags"></p>
                </div>
                <p class="modal__introduce__title">모임 소개글</p>
                <p class="moimDetailModal_introduce" id="moimDetail_introduce"></p>
                <button type="button" class="btn btn-warning"
                        onclick="wishMoim(document.getElementById('moimDetailId').value)">찜 등록
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="attendMoim(document.getElementById('moimDetailId').value)">모임 참여 신청
                </button>
                <button type="button" class="btn btn-primary"
                        onclick="gotoBoard(document.getElementById('moimDetailId').value)">게시판 입장
                </button>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modifyMoimModal" onclick="relayoutMap()">모임 수정
                </button>
                <button type="button" class="btn btn-danger"
                        onclick="withdrawMoim(document.getElementById('moimDetailId').value)">모임 탈퇴
                </button>
                <button type="button" class="btn btn-danger"
                        onclick="deleteMoim(document.getElementById('moimDetailId').value)">모임 삭제
                </button>
                <div id="detailAddress">
                </div>
                <div id="detailMoimMap" style="width:100%; margin: auto; height:400px;"></div>
                <div class="moimDetailModal_reviews" id="moimDetail_reviews">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- new moim modal -->
<div class="modal fade" id="newMoimModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">새 모임 생성</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">모임 이름</label>
                        <input type="text" class="form-control" id="newMoim-title">
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">희망 모집 인원</label>
                        <input type="number" class="form-control" id="newMoim-recruit">
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">태그</label>
                        <ul class="tags" id="tags">
                            <div id="tatag">
                      
                            </div>
                                          
                            <li class="tagAdd taglist" id="tagAdd">
                                <input type="text" id="search-field">
                            </li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">카테고리</label>
                        <input type="text" class="form-control" id="newMoim-category" value="" readonly>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                카테고리 선택
                            </button>
                            <ul class="dropdown-menu" id="categoryMenu" aria-labelledby="dropdownMenuButton1">
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">이미지 업로드</label>
                        <input type="file" class="form-control" id="newMoim-image">
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">한줄소개</label>
                        <input type="text" class="form-control" id="newMoim-content">
                    </div>
                    <input type="text" id="save_address" placeholder="주소">
                    <input type="button" onclick="save_execDaumPostcode()" value="주소 검색"><br>
                    <div class="mb-3">
                        <div id="saveMoimMap" style="width:700px; margin: auto; height:400px;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="saveMoim()">새 모임 추가</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modifyMoimModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel2">새 모임 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">모임 이름</label>
                        <input type="text" class="form-control" id="modifyMoim-title">
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">희망 모집 인원</label>
                        <input type="number" class="form-control" id="modifyMoim-recruit">
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">태그</label>
                        <ul class="tags" id="modiTags">
                            <!--                <li class="addedTag" id="added">-->
                            <!--                   $(this).val()-->
                            <!--                  <span class="tagRemove" onclick="$(this).parent().remove();">x</span>-->
                            <!--                  <input type="hidden" id="tagt" value="$(this).val()" name="tags[]">-->
                            <!--                </li>-->
                            <!--                -->
                            <li class="tagAdd taglist" id="modiTagAdd">
                                <input type="text" id="modi-search-field">
                            </li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">카테고리</label>
                        <input type="text" class="form-control" id="modifyMoim-category" readonly>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                카테고리 선택
                            </button>
                            <ul class="dropdown-menu" id="modifyCategoryMenu" aria-labelledby="dropdownMenuButton1">
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">이미지 업로드</label>
                        <input type="file" class="form-control" id="modifyMoim-image"/>
                    </div>
                    <div class="mb-3">
                        <label for="newPost-image" class="col-form-label">한줄소개</label>
                        <input type="text" class="form-control" id="modifyMoim-content"/>
                    </div>
                    <input type="text" id="modify_address" placeholder="주소"/>
                    <input type="button" onclick="modify_execDaumPostcode()" value="주소 검색"><br>
                    <div class="mb-3">
                        <div id="modifyMoimMap" style="width:700px; margin: auto; height:400px;"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary"
                        onclick="editMoim(document.getElementById('moimDetailId').value)">새 모임 수정
                </button>
            </div>
        </div>
    </div>
</div>


<div class="app-container">
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="app-icon">
                <h1 style="display: inline;" onclick="goToHome()">SAEMOIM</h1>
                <img src="../static/images/bird.png" alt="" style="display: inline;" onclick="goToHome()">
            </div>
        </div>
        <ul class="sidebar-list">
            <li class="sidebar-list-item active" id="side-find">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                        <polyline points="9 22 9 12 15 12 15 22"/>
                    </svg>
                    <span>Find</span>
                </a>
            </li>
            <li class="sidebar-list-item" id="side-mypage">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-pie-chart">
                        <path d="M21.21 15.89A10 10 0 1 1 8 2.83"/>
                        <path d="M22 12A10 10 0 0 0 12 2v10z"/>
                    </svg>
                    <span>MyPage</span>
                </a>
            </li>
            <li class="sidebar-list-item" id="side-profile">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-inbox">
                        <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"/>
                        <path
                                d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"/>
                    </svg>
                    <span>MyProfile</span>
                </a>
            </li>
            <li class="sidebar-list-item" id="side-chat">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-bell">
                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"/>
                        <path d="M13.73 21a2 2 0 0 1-3.46 0"/>
                    </svg>
                    <span>Chat</span>
                </a>
            </li>
        </ul>
        <div class="account-info">
            <div class="account-info-picture">
                <img
                        src="../static/images/bird.png"
                        onclick="goToHome()" alt="Account">
            </div>
            <div class="account-info-name" id="username"></div>
            <img class="account-info-more" src="../static/images/logout.png" alt="" onclick="logout()">
        </div>
    </div>


    <div class="app-content find active" id="side-find-content">
        <div class="app-content-header">
            <h1 class="app-content-headerText">모임 찾기</h1>
            <button class="app-content-headerButton btn-open-popup" data-bs-toggle="modal"
                    data-bs-target="#newMoimModal" onclick="relayoutMap()">새
                모임 추가하기
            </button>
        </div>
        <div class="app-content-actions">
            <input class="search-bar" id="search-name" placeholder="Search..." type="text">
            <input type="button" onclick="showSearch($('#search-name').val())" value="검색">
            <div class="app-content-actions-wrapper">
                <div class="filter-button-wrapper">
                    <button class="action-button filter jsFilter"><span>Filter</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
                            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
                        </svg>
                    </button>
                    <div class="filter-menu">
                        <label>카테고리</label>
                        <select id="categoryFilter">
                        </select>
                        <label>Status</label>
                        <select id="statusFilter">
                            <option value="all">All Status</option>
                            <option value="OPEN">Active</option>
                            <option value="CLOSE">Disabled</option>
                        </select>
                        <div class="filter-menu-buttons">
                            <button class="filter-button reset" onclick="showAllMoim()">
                                Reset
                            </button>
                            <button class="filter-button apply" onclick="showFilter(
                                        document.getElementById('categoryFilter').value, document.getElementById('statusFilter').value)">
                                Apply
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 style="font-size: 30px;">모임 보기</h3>
        <div class="app-content-section gridView" id="find-content">
        </div>
        <h3 style="font-size: 30px;">인기 모임</h3>
        <div class="app-content-section gridView" id="popular-content">
        </div>
    </div>
    <div class="app-content mypage" id="side-mypage-content">
        <div class="app-content-header">
            <h1 class="app-content-headerText">마이페이지</h1>
        </div>
        <div>
            <div class="mypageTable">
                <div>
                    <h3 style="font-size: 30px;">참가 신청 받은 목록</h3>
                    <div style="height: 150px; overflow-y: scroll;">
                        <table class="fixed_headers" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>모임 이름</th>
                                <th>참가 신청자 이름</th>
                                <th>신청 상태</th>
                            </tr>
                            </thead>
                            <tbody id="requested-group">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <h3 style="font-size: 30px;">참가 신청한 목록</h3>
                    <div style="height: 150px; overflow-y: scroll;">
                        <table class="fixed_headers" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>모임 이름</th>
                                <th>모임 리더 이름</th>
                                <th>신청 상태</th>
                            </tr>
                            </thead>
                            <tbody id="applied-group">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr style="margin: 3px;">
            <h3 style="font-size: 30px;">내가 개설한 모임</h3>
            <div style="overflow-y: scroll;">
                <div class="app-content-section gridView" id="made-group" style="overflow: hidden;">
                    <div class="products-row" data-bs-toggle="modal" data-bs-target="#moimDetailModal"
                         onclick="showMoimDetail(event)">
                        <div class="product-cell image">
                            <img src="../static/images/main-chicken.jpg" alt="">
                            <span>홍대 사시는분 간단하게 치맥ㄱ???</span>
                        </div>
                        <div class="product-cell category"><span class="cell-label">카테고리:</span>Furniture</div>
                        <div class="product-cell status-cell">
                            <span class="cell-label">모임상태:</span>
                            <span class="status active">Active</span>
                        </div>
                        <div class="product-cell sales"><span class="cell-label">참가인원:</span>32</div>
                        <div class="product-cell stock"><span class="cell-label">참여가능인원:</span>40</div>
                        <div class="product-cell price"><span class="cell-label">후기수:</span>350</div>
                    </div>
                </div>
            </div>
            <hr style="margin: 3px;">
            <h3 style="font-size: 30px;">내가 참여한 모임</h3>
            <div style="overflow-y: scroll;">
                <div class="app-content-section gridView" id="participant-group" style="overflow: hidden;">
                    <div class="products-row" data-bs-toggle="modal" data-bs-target="#moimDetailModal"
                         onclick="showMoimDetail(event)">
                        <div class="product-cell image">
                            <img id="participant-group-image" src="../static/images/main-running.jpg" alt="">
                            <span>한강정기러닝동호회[초보가능, 상시모집]</span>
                        </div>
                        <div class="product-cell category"><span class="cell-label">카테고리:</span>Decoration</div>
                        <div class="product-cell status-cell">
                            <span class="cell-label">모임상태:</span>
                            <span class="status active">Active</span>
                        </div>
                        <div class="product-cell sales"><span class="cell-label">참가인원:</span>61</div>
                        <div class="product-cell stock"><span class="cell-label">참여가능인원:</span>56</div>
                        <div class="product-cell price"><span class="cell-label">후기수:</span>360</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-content profile" id="side-profile-content">
        <div class="app-content-header">
            <h1 class="app-content-headerText">마이프로필 수정</h1>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <form>
                    <div class="form-group">
                        <h6>
                            프로필 이미지
                            <img id ="profile-image" src="../static/images/bird.png" width="150px" height="150px"/>
                        </h6>
                        <label for="img">파일 업로드</label>
                        <input type="file" id="img" accept="image/*" multiple>
                    </div>
                    <button type="button" class="btn btn-primary" id="btn-save" onclick="uploadImage()">저장</button>
                </form>
            </div>
        </div>

        <div class="app-content-section" id="myProfile">
            <div id="passpass">
                <div>비밀번호를 입력하세요.</div>
                <input type="password" id="checkPassword" rows="2" cols="20">
                <input type="button" value="입력" id="checkPwd" onclick="getMyProfile()">`
            </div>

            <div id="myProfile_2" style="display: none;">
                <h2 id="profileName"></h2>
                <div class="content_title">비밀번호</div>
                <div class="content_content">
                    <input type="password" id="password_1" class="pw" placeholder="비밀번호">
                    <span>8~15자리의 영문, 숫자, 특수문자(!@#$%^&*())를 혼합해주세요.</span>
                </div>

                <div class="content_title">비밀번호 확인</div>
                <div class="content_content">
                    <input type="password" id="password_2" class="pw" placeholder="비밀번호 확인">
                    <span id="alert-success" style="display: none;">비밀번호가 일치합니다.</span>
                    <span id="alert-danger"
                          style="display: none; color: #d92742; font-weight: bold; ">비밀번호가 일치하지 않습니다.</span>
                </div>
                <div class="content_title">소개글</div>
                <div class="form-floating">
                    <textarea type="text" class="form-control-myprofile" id="floatingInput" placeholder="소개글"></textarea>
                </div>
                <button type="button"
                        onclick="updateProfile($('#floatingInput').val(), $('#password_1').val())">수정
                </button>
            </div>
        </div>
    </div>
    <div class="app-content chat" id="side-chat-content">
        <div class="app-content-header">
            <h1 class="app-content-headerText">채팅 목록</h1>
        </div>
        <div style="overflow-y: scroll;">
            <div class="app-content-section gridView" style="overflow: hidden;">
                <div class="products-row" onclick="gotochat()">
                    <div class="product-cell image" style="text-align: center;">
                        <img src="../static/images/bill_gates.jpg" alt="" style="max-width: 150px;">
                        <div>ㅇㅇㅇ 님과의 대화방</div>
                    </div>
                </div>
                <div class="products-row" onclick="gotochat()">
                    <div class="product-cell image" style="text-align: center;">
                        <img src="../static/images/steve_jobs.jpg" alt="" style="max-width: 150px;">
                        <div>ㅇㅇㅇ 님과의 대화방</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="../static/main/main.js"></script>

</html>